.toolbar-col {
  width: 33.33%;
}

.toolbar-content {
  &.left {
      float: left;
  }
  &.center {
    text-align: center;
  }
  &.right {
    float: right;
  }
}

.header {
  background-color: #2452A1;

  //background-image: linear-gradient(to bottom right, #2452A1, #16B5CA);

  //background-color: blue;
}


.icon-button {
  display: inline-block;
  position: relative;
  padding: 6px;
  outline: none;
  font-size: 0;
  line-height: 1;
  width: 40px;
  height: 40px;
  box-sizing: border-box !important;

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    color: white;
    stroke: none;
    width: 100%;
    height: 100%;
    z-index:100;
  }
}
#menu_div:hover {
  cursor: pointer;
}


.header-title {
  transform-origin: left top;
  white-space: nowrap;
  flex: 1;
  flex-basis: 0.000000001px;
  overflow: hidden;
  line-height: 1.5;
  position: relative;
  margin-left: 50px;
  font-weight: bold;
  font-size: x-large;
  color:white;
}

/* User Menu */

.header-user-menu{
  position: relative;
  float:right;
  background-color: #2452A1;
  //background-color:#3a3c3e;
  width:75px;
  height:40px;
  border-radius:2px;
}

.header-user-menu:before{
  content:'';
  width:0;
  height:0;
  top: 18px;
  left: 15px;
  position:absolute;
  border:5px solid transparent;
  border-top-color:#fff;
}

.header-user-menu ul{
  display: none;
  font:bold 13px Arial, Helvetica, sans-serif;
  background-color: #3a3c3e;
  list-style: none;
  position: absolute;
  text-align: center;
  width: 125px;
  top: 25px;
  right: 0;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 100;
}

.header-user-menu:active ul,
.header-user-menu:hover ul,
.header-user-menu.show ul{
  display:block;
}

.header-user-menu ul li{
  padding:5px;
}

.header-user-menu ul li a:hover{
  opacity:0.9;
}

.header-user-menu ul li a.highlight{
  color:#e9ac09;
}

.header-user-menu img{
  border-radius:50%;
  position:absolute;
  top:6px;
  max-width: 28px;
  right:10px;
}

.user-profile-picture {

}